<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MCDownloaderDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E71DCA1F1E9B1D2B00A058D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E71DCA381E9B1D2C00A058D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E71DCA431E9B1D2C00A058D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
